.image-holder {
    border-top: 0.1em solid gray;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 0.5em;
    padding: 0.5em 0;
}

.image-info {
    text-align: left;
    word-break: break-word;
}

.grid-image {
    max-height: 20em;
    width: auto;
    object-fit: contain;
    cursor: pointer;
}